<nav class="panel">
  <p class="panel-heading">
    All tasks
  </p>

  <a *ngFor="let task of all_tasks.values()" class="panel-block" [ngClass]="{'is-active has-text-weight-bold': selected_task === task.id}"
    (click)="selectTask(task.id)">
    <input type="checkbox">
    {{ task.name }}
  </a>

  <div class="panel-block is-fullwidth">
    <form class="control is-expanded field is-grouped" [formGroup]="createTaskForm"
      (ngSubmit)="createTask(createTaskForm.value)">
      <input class="input" type="text" placeholder="Create new task" formControlName="name">
      <button class="button is-primary ml-2" type="submit">Create</button>
    </form>
  </div>
</nav>