<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <!-- <div class="navbar-brand">
  </div> -->

  <div class="navbar-menu">
    <div class="navbar-item">
      ToDo
    </div>
    <div class="navbar-end navbar-item buttons">
      <div *ngIf="loggedIn; else navBarElse">
        <form (ngSubmit)="logOutSubmit()">
          <div class="field">
            <button class="button is-primary" type="submit">Log out of {{ username }}</button>
          </div>
        </form>
      </div>
      <ng-template #navBarElse>
        <button class="button" disabled>Logged out</button>
      </ng-template>
    </div>
  </div>
</nav>

<section class="section">
  <div class="login-form box" *ngIf="!loggedIn; else elseBlock">
    <!-- Login form -->
    <p class="title">Log in to ToDo</p>
    <form [formGroup]="loginForm" (ngSubmit)="logInSubmit(loginForm.value)">
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" formControlName='username' autofocus>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" formControlName='password'>
        </div>
      </div>
      <div class="field">
        <button class='button is-primary' type="submit">Submit</button>
      </div>
    </form>
  </div>

  <ng-template #elseBlock>
    <div class="columns">
      <div class="column container is-two-fifths">
        <!-- All tasks -->
        <div class="title">All Tasks</div>
        <app-all-tasks-view></app-all-tasks-view>
      </div>
      <div class="column container">
        <!-- Task details -->
        <div class="title">Task Details</div>
        <app-task-details-view></app-task-details-view>
      </div>
    </div>
  </ng-template>
</section>